# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Go
vendor/
*.exe
*.test
*.out
/bin/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
dist/
build/
*.egg-info/

# IDEs & Misc
.DS_Store
.vscode/
.idea/
